<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>教育辅助系统</title>
	<link rel="stylesheet" href="layui/css/modules/layer/default/layer.css" />
	<link rel="stylesheet" href="layui/css/layui.css" />
	<script type="text/javascript" src="layui/layui.js"></script>
	<script>
		layui.use('element', function(){
			var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

			//监听导航点击
			element.on('nav(demo)', function(elem){
				//console.log(elem)
				layer.msg(elem.text());
			});
		});
	</script>
	<style type="text/css">

		body,html{
			height: 100%;
		}

		#topnav{
			position: fixed;
			width: 100%;
			z-index: 2;
		}

		#topposition{
			padding-left: 3px;
		}

		#navword{
			position: relative;
			right: 76px;
		}

		#bgr{
			border-radius: 0%;
		}

		#leftbgr{
			border-radius: 0%;
			overflow: auto;
			position: fixed;
			top:60px;
			z-index: 2;
		}

		.designname{
			font-size: 20px;
		}

		#centreview{
			overflow: auto;
			padding-left: 500px;
			padding-top: 150px;
		}
	</style>
</head>
<body>

<div id="topnav">   <!--顶部导航栏-->

	<div class="layui-row layui-bg-cyan" id="navflow"> <!--栅格系统-->

		<div class="layui-col-xs3 layui-col-md2">  <!--栅格系统左2-->
			<ul class="layui-nav layui-bg-cyan" id="bgr">  <!--导航栏背景藏青色-->
				<div class="grid-demo">
					<li class="layui-nav-item"><a href="" class="designname" style="z-index: 99;">好奇·未来</a></li>
				</div>
			</ul>   <!--导航栏背景藏青色-->
		</div>  <!--栅格系统左2-->

		<div class="layui-col-xs7 layui-col-md8" id="navword">   <!--栅格系统中8-->
			<ul class="layui-nav layui-bg-cyan" id="bgr">   <!--导航栏背景藏青色-->
				<div class="grid-demo" id="topposition">
					<li class="layui-nav-item">
						<a href="javascript:;">产品</a>
						<dl class="layui-nav-child">
							<dd><a href="">选项1</a></dd>
							<dd><a href="">选项2</a></dd>
							<dd><a href="">选项3</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a href="">大数据</a></li>
					<li class="layui-nav-item">
						<a href="javascript:;">解决方案</a>
						<dl class="layui-nav-child">
							<dd><a href="">移动模块</a></dd>
							<dd><a href="">后台模版</a></dd>
							<dd class="layui-this"><a href="">选中项</a></dd>
							<dd><a href="">电商平台</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;">联系我们</a>
						<dl class="layui-nav-child">
							<dd><a href="">故障反馈</a></dd>
							<dd><a href="">商务合作</a></dd>
						</dl>
					</li>
				</div>
			</ul>   <!--导航栏背景藏青色-->
		</div>   <!--栅格系统中8-->

		<div class="layui-col-xs2 layui-col-md2">   <!--栅格系统右2-->
			<ul class="layui-nav layui-bg-cyan" id="bgr">   <!--导航栏背景藏青色-->
				<div class="grid-demo">
					<li class="layui-nav-item" lay-unselect="">
						<a href="javascript:;">欢迎您&nbsp:&nbsp<span th:text="${username}"></span></a>
						<dl class="layui-nav-child">
							<dd><a href="javascript:;">修改信息</a></dd>
							<dd><a href="javascript:;">安全管理</a></dd>
							<dd><a href="exit">退出登录</a></dd>
						</dl>
					</li>
				</div>
			</ul>   <!--导航栏背景藏青色-->
		</div>   <!--栅格系统右2-->

	</div>   <!--栅格系统-->

</div>   <!--顶部导航栏-->

<!--******************************************************************-->
<div class="layui-row" id="bottom">  <!--栅格系统-->
	<div class="layui-col-xs3 layui-col-md3">  <!--栅格系统左2-->
		<div class="grid-demo">
			<div id="centrebody">   <!--中心页页面-->
				<div id="leftnav">   <!--左侧导航栏-->
					<ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline" lay-filter="demo" style="height:700px" id="leftbgr">
						<li class="layui-nav-item layui-nav-itemed">
							<a href="javascript:;">教师板块</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;">创建课程</a></dd>
								<dd><a href="javascript:;">查看所有课程</a></dd>
								<dd><a href="javascript:;">发布学生任务</a></dd>
								<dd><a href="javascript:;">作业的批改及评价</a></dd>
								<dd><a href="javascript:;">学生满意度调查</a></dd>
								<dd><a href="javascript:;">资料管理</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">学生板块</a>
							<dl class="layui-nav-child">
								<dd><a href="">我的课堂</a></dd>
								<dd><a href="">提交作业</a></dd>
								<dd><a href="">查询作业成绩</a></dd>
								<dd><a href="">师生树洞 / 教学评价</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">课堂助手</a>
							<dl class="layui-nav-child">
								<dd><a href="">点人/抽奖助手</a></dd>
								<dd><a href="">创意反馈</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item"><a href="">云市场</a></li>
						<li class="layui-nav-item"><a href="">社区</a></li>
					</ul>
				</div>   <!--左侧导航栏-->
			</div>   <!--中心页页面-->
		</div>
		</ul>   <!--导航栏背景藏青色-->
	</div>  <!--栅格系统左2-->

	<div class="layui-col-xs9 layui-col-md9">  <!--栅格系统右10-->
		<div class="grid-demo" id="centreview">

		</div>
	</div>  <!--栅格系统右10-->

</div>  <!--栅格系统-->

<!--**********************************************************************************-->

<div class="layui-row">  <!--栅格系统-->
	<div class="layui-col-xs3 layui-col-md3">  <!--栅格系统左2-->

	</div>  <!--栅格系统左2-->

	<div class="layui-col-xs9 layui-col-md9">  <!--栅格系统右10-->
		<div class="grid-demo" id="mainview">

		</div>
	</div>  <!--栅格系统右10-->

</div>  <!--栅格系统-->

<script type="text/javascript">
	$.ajax({
		type:"post",
		url:"http://localhost:80/login",
		async:true,
		success:function(data){
			$("#name").val(data);
			alert($("#name").val());
		}
	});
</script>
</body>
</html>
